/* Style inputs with type="text", select elements and text areas */
input[type=text], input[type=email], textarea {
    width: 100%; /* Defining width of submition form */
    padding: 12px; /* Defining padding size */ 
    border: 1px solid rgb(0, 0, 0); /* Creating border with color in it*/
    border-radius: 4px; /* Creating rounded borders */
    box-sizing: border-box; /* Making sure that the padding and width stays in place */
    margin-top: 6px; /* Adding top margin size */
    margin-bottom: 16px; /* Defining Bottom margin size */
    resize: vertical /* Allows the user to vertically resize the text area (not horizontally) */
}

/* Styling the submit button with a specific background color, padding, border, border-radius, and cursor */
button[type=submit] {
    background-color: #e64a35; /*Defining background color of button*/
    color: white; /*Defining color the text of button*/
    padding: 12px 20px; /*padding size of button */
    border: none; /* determining that the button should habe no border*/
    border-radius: 4px; /* border-radius size*/
    cursor: pointer; /*Determining what the cursors looks like when hovering over button*/
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
    background-color: #45a049; /* Defining the background color of the button when the cursor hovers over it*/
}
